# Discord Bot Credentials
DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
GUILD_ID=your_guild_id_here
OWNER_ID=your_owner_id_here

# Dashboard OAuth Callback
CALLBACK_URL=http://localhost:3000/auth/callback

# Web Server
PORT=3000

# Optional: User account token for selfbot features لأستخدام ميزات السيلف بوت اوامر النيترو والبوست
USER_TOKEN=

# Feature Toggles
DISABLE_DASHBOARD=false

# Lavalink Music Nodes خوادم لافالنك لتشغيل الموسيقى
LAVALINK_NODES=us.monkey-network.xyz:6074:zarDEV

# رابط قاعدة البيانات MongoDB URI
MONGODB_URI=mongodb://username:password@host:port/database?options

# Discord Auto-Backup Webhook URL (Optional)
BACKUP_WEBHOOK_URL=

# قبل تشغيل البوت .env عدل اسم الملف ل 