# Discord Bot Credentials
DISCORD_TOKEN=MTU0NjgwNjY1NjUyMjkxMTc0NA.GT31xr.kLa-Uz2vStkx4CtNb6AZEJ7a1Dkz22adDOq6Uk
CLIENT_ID=1546806656522911744
CLIENT_SECRET=37Z7LElMlyG3NkhxTQoXI7YqL_CGutvw
GUILD_ID=1535953667075604490
OWNER_ID=1066856989554131106

# Dashboard OAuth Callback
CALLBACK_URL=http://localhost:3000/auth/callback

# Web Server
PORT=3000

# Optional: User account token for selfbot features لأستخدام ميزات السيلف بوت اوامر النيترو والبوست
USER_TOKEN=

# Feature Toggles
DISABLE_DASHBOARD=false

# Lavalink Music Nodes خوادم لافالنك لتشغيل الموسيقى
LAVALINK_NODES=us.monkey-network.xyz:6074:zarDEV

# رابط قاعدة البيانات MongoDB URI
MONGODB_URI=mongodb+srv://huseyinhassan4_db_user:g7hsYlQSKU0YZNFk@cluster0.wcvaqgb.mongodb.net/

# Discord Auto-Backup Webhook URL (Optional)
BACKUP_WEBHOOK_URL=

# قبل تشغيل البوت .env عدل اسم الملف ل 
